@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
}
h1{
    color: rgb(3, 165, 12);
}

h1#principal{
    text-align: center;
    background-color: rgb(8, 164, 8);
    color: white;
}

h2{
    color: rgb(71, 249, 71);
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avancado{
    color: #803c3c;
}

.destaque{
    background-color: #c5c56070;
}